/* 首页整体页面效果 */
html,body{
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0);
}

.index_bg{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(11, 93, 180, 0.5));
}

.index_bg_img{
    width: 100vw;
    height: auto;
    position: absolute;
    bottom: 0;
}