/* 首页整体页面效果 */
html,body{
    margin: 0;
    padding: 0;
    background: url("https://wuhuglq.github.io/static/index_bg.gif") no-repeat;
    background-size: 100%;
}

.index_bg{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(219, 8, 8, 0.5));
}